:root {
  --clr-bg-prime: #1f2937;
  --clr-bg-second: #e5e7eb;
  --clr-bg-accent: #3882f6;

  --clr-txt-light: #f9faf8;
  --clr-txt-dimmed: #e5e7eb;
 
  --container-padding: 5rem 15rem;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

a {
  color: inherit;
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
}

.prime-bg {
  background-color: var(--clr-bg-prime);
  color: var(--clr-txt-light)
}

.header {
  padding: var(--container-padding);
  display: flex;
  justify-content: space-between;
  align-items: center;
} 

.header-logo {
  font-size: 3rem;
}

.header-links {
  display: flex;
  gap: 1em;
  font-size: 1.6rem;
  color: var(--clr-txt-dimmed)
}

.hero {
  padding: var(--container-padding);
  display: grid;
  grid-template-columns: 2fr 1fr;
}


.hero-text h1 {
  font-size: 4.8rem;
}

.hero-text p {
  font-size: 1.8rem;
  color: var(--clr-txt-dimmed);
}

.hero-images {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 0px;
}

.hero-images img {
  width: 150px;
  height: 10rem;
  object-fit: cover;
}
